ul li{
    /*list-style: square;*/
    list-style-image: url(./images/Bullet\ image\ very\ small.png);
}
ol li::marker{
    content:"🏏"
}
.family ::marker{
    content:"👪"
}

dt{
    color: whitesmoke;
}
dd{
    color: blue;
}
body{
    background-color: grey;
}
img{
    width: 400px;
background-color: rgb(42, 91, 136);
border-radius: 50%;
border: 20px inset;
}
#IPLHeading{
    color: whitesmoke;
    background-color: rgb(34, 16, 16);
    text-align: center;
    font-size: 3.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;    
    text-shadow: 10px 10px 10px rgb(14, 2, 2);
    box-shadow: 10px 10px 10px black;
    border: 10px inset rgb(204, 105, 105);
    border-radius: 50px;
}